[Unit]
Desctiption=Targeting Bootloader

[Service]
ExecStart=/bin/bash /home/option16pi/NetworkTableClient/startup.sh

[Install]
WantedBy=multi-user.target
